<div class="card">
  <script type="text/ng-template" id="addSupplierModalContent.html">
    <div class="modal-header">
      <h4 class="modal-title">{{'ADD_NEW_SUPPLIER' | translate }}</h4>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-header">
          <section style="float:left">
            <h2>{{'NEW_SUPPLIER_TITLE' | translate }}</h2>
            <br>
          </section>
          <section style="float:right">
            <form name="newSupplier">
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account-box-mail"></i></span>
                <div class="fg-line">
                  <input ng-model="supplier.email" name="email" type="email" class="form-control" placeholder="Email" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" >
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account-box"></i></span>
                <div class="fg-line">
                  <input ng-model="supplier.firstName" type="text" class="form-control" placeholder="First Name" required>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account-box"></i></span>
                <div class="fg-line">
                  <input ng-model="supplier.lastName" type="text" class="form-control" placeholder="Last Name">
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account-box-phone"></i></span>
                <div class="fg-line">
                  <input ng-model="supplier.phoneNumber" type="text" class="form-control" placeholder="Phone Number" required>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account-box-phone"></i></span>
                <div class="fg-line">
                  <input ng-model="supplier.address" type="text" class="form-control" placeholder="Address">
                </div>
              </div>
              <br>
            </form>
          </section>
        </div>
        
        <div class="modal-footer">
          <button class="btn btn-info waves-effect" ng-disabled="!newSupplier.$valid" ng-click="save(supplier)">Save</button>
          <button class="btn btn-info waves-effect" ng-click="cancel()">Cancel</button>
        </div>
      </script>
    </div>
    