<div class="container" data-ng-controller="supplierCtrl as supplierController">
    <div class="block-header">
        <h2>{{'SUPPLIERS_VIEW' | translate }}</h2>
    </div>
                    
    <button data-ng-controller="addSupplierCtrl" ng-click="open('lg')" class="btn btn-float btn-danger m-btn"><i class="zmdi zmdi-plus"></i></button>

    <div class="lv-header-alt clearfix">                
        <div class="lvh-search">
            <input type="text" ng-model="searchText" placeholder="What are you looking for?" class="lvhs-input">
            
            <i class="lvh-search-close" data-ng-click="searchText = ''">&times;</i>
        </div>    
    </div>
    
    <br>
    <br>
    
    <div class="card-body">
        <div class="table-responsive">
            <table ng-table="tctrl.tableEdit" class="table table-striped table-vmiddle">
                <tr ng-repeat="supplier in supplierController.allSuppliers.list | filter:searchText track by supplier.id"  ng-class="{ 'active': w.$edit }">
                    <td data-title="'ID'">
                        <span>{{ supplier.id }}</span>
                    </td>
                    <td data-title="'First Name'">
                        <span ng-if="!supplier.$edit">{{ supplier.firstName }}</span>
                        <div ng-if="supplier.$edit"><input class="form-control" type="text" ng-model="supplier.firstName" /></div>
                    </td>
                    <td data-title="'Last Name'">
                        <span ng-if="!supplier.$edit">{{ supplier.lastName }}</span>
                        <div ng-if="supplier.$edit"><input class="form-control" type="text" ng-model="supplier.lastName" /></div>
                    </td>
                    <td data-title="'Email'">
                        <span ng-if="!supplier.$edit">{{ supplier.email }}</span>
                        <div ng-if="supplier.$edit"><input class="form-control" type="text" ng-model="supplier.email" /></div>
                    </td>
                    <td data-title="'Phone Number'">
                        <span ng-if="!supplier.$edit">{{ supplier.phoneNumber }}</span>
                        <div ng-if="supplier.$edit"><input class="form-control" type="text" ng-model="supplier.phoneNumber" /></div>
                    </td>
                    <td data-title="'Address'">
                        <span ng-if="!supplier.$edit">{{ supplier.address }}</span>
                        <div ng-if="supplier.$edit"><input class="form-control" type="text" ng-model="supplier.address" /></div>
                    </td>

                    <td data-title="'Actions'">
                        <button type="button" class="btn btn-default" ng-if="!supplier.$edit" ng-click="supplier.$edit = true"><i class="zmdi zmdi-edit"></i></button>
                        <button type="button" class="btn btn-success" ng-if="supplier.$edit" ng-click="supplier.$edit = false"><i class="zmdi zmdi-check"></i></button>

                        <button type="button" class="btn btn-default" ng-click="supplierController.deleteSupplier(supplier.id)"><i class="zmdi zmdi-delete"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
</div>

<div data-ng-include="'views/pages/supplier/add-supplier.html'"></div>
