<div class="card">
  <script type="text/ng-template" id="detailInvoice.html">
    <div class="modal-header">
      <h4 class="modal-title">Invoice #{{modalContent.invoiceNumber}}</h4>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-header ch-alt text-center">
          <img class="i-logo" src="{{accountDetails.img}}" alt="">
        </div>
        
        <div class="card-body card-padding">
          <div class="row m-b-25">
            <div class="col-xs-6">
              <div class="text-right">
                <p class="c-gray">Invoice from</p>
                
                <h4>{{accountDetails.name}}</h4>
                
                <span class="text-muted">
                  <address>
                    {{accountDetails.address}}
                  </address>
                  
                  {{accountDetails.phone}}<br/>
                  {{accountDetails.email}}
                </span>
              </div>
            </div>
            
            <div class="col-xs-6">
              <div class="i-to">
                <p class="c-gray">Invoice to</p>
                
                <h4>{{modalContent.billingDetails.name}}</h4>
                
                <span class="text-muted">
                  <address>
                    {{modalContent.billingDetails.address}}
                  </address>
                  
                  {{modalContent.billingDetails.phone}}<br/>
                  {{modalContent.billingDetails.email}}
                </span>
              </div>
            </div>
            
          </div>
          
          <div class="clearfix"></div>
          
          <div class="row m-t-25 p-0 m-b-25">
            <div class="col-xs-3">
              <div class="bgm-amber brd-2 p-15">
                <div class="c-white m-b-5">Invoice#</div>
                <h2 class="m-0 c-white f-300">{{modalContent.invoiceNumber}}</h2>
              </div>
            </div>
            
            <div class="col-xs-3">
              <div class="bgm-blue brd-2 p-15">
                <div class="c-white m-b-5">Date</div>
                <h2 class="m-0 c-white f-300" ng-bind="modalContent.date | date:'MM/dd/yyyy'">{{modalContent.date}}</h2>
              </div>
            </div>
                        
            <div class="col-xs-3">
              <div class="bgm-green brd-2 p-15">
                <div class="c-white m-b-5">Whatever</div>
                <h2 class="m-0 c-white f-300">472-000</h2>
              </div>
            </div>

            <div class="col-xs-3">
              <div class="bgm-red brd-2 p-15">
                <div class="c-white m-b-5">Grand Total</div>
                <h2 class="m-0 c-white f-300">{{modalContent.totalPrice}}{{modalContent.currency}}</h2>
              </div>
            </div>
          </div>
          
          <div class="clearfix"></div>
          
          <table class="table i-table m-t-25 m-b-25">
            <thead class="text-uppercase">
              <th class="c-gray">ITEM DESCRIPTION</th>
              <th class="c-gray">UNIT PRICE</th>
              <th class="c-gray">QUANTITY</th>
              <th class="highlight">TOTAL</th>
            </thead>
            
            <tbody>
              <thead>
                <tr ng-repeat="item in modalContent.billedItems">
                  <td width="50%">
                    <h5 class="text-uppercase f-400">{{item.title}}</h5>
                    <p class="text-muted">{{item.description}}</p>
                  </td>
                  
                  <td>{{item.unitPrice}}</td>
                  <td>{{item.quantity}}</td>
                  <td class="highlight">{{item.unitPrice*item.quantity}} {{modalContent.currency}}</td>
                </tr>
              </thead> 
            </tbody>
          </table>
          
          <div class="clearfix"></div>
          
          <div class="p-25">
            <h4 class="c-green f-400">REMARKS</h4>
            <p class="c-gray">{{modalContent.remarks}}</p>            
          </div>
        </div>
        
        <footer class="m-t-15 p-20">
          <ul class="list-inline text-center list-unstyled">
            <li class="m-l-5 m-r-5"><small>{{accountDetails.supportEmail}}</small></li>
            <li class="m-l-5 m-r-5"><small>{{accountDetails.phone}}</small></li>
            <li class="m-l-5 m-r-5"><small>{{accountDetails.site}}</small></li>
          </ul>
        </footer>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-float bgm-red m-btn" print><i class="zmdi zmdi-print"></i></button>
    </div>
  </script>
  
</div>