<div class="card">
  <script type="text/ng-template" id="newInvoice.html">
    <div class="modal-header">
      <h4 class="modal-title">Invoice #{{modalContent.invoiceNumber}}</h4>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-header ch-alt text-center">
          <img class="i-logo" src="{{accountDetails.img}}" alt="">
        </div>
        
        <div class="card-body card-padding">
          <div class="row m-b-25">
            <div class="col-xs-6">
              <div class="text-right">
                <p class="c-gray">Invoice from</p>
                
                <h4>{{accountDetails.name}}</h4>
                
                <span class="text-muted">
                  <address>
                    {{accountDetails.address}}
                  </address>
                  
                  {{accountDetails.phone}}<br/>
                  {{accountDetails.email}}
                </span>
              </div>
            </div>
            
            <div class="col-xs-6">
              <div class="i-to">
                <p class="c-gray">Invoice to</p>
                
                <h4>
                  <input ng-model="newInvoice.billingDetails.name" type="text" class="form-control" placeholder="Name">
                </h4>
                
                <span class="text-muted">
                  <address>
                    <input ng-model="newInvoice.billingDetails.address" type="text" class="form-control" placeholder="Address">
                  </address>
                  
                  <input ng-model="newInvoice.billingDetails.phone" type="text" class="form-control" placeholder="Phone Number">
                  <input ng-model="newInvoice.billingDetails.email" type="text" class="form-control" placeholder="Email Address">
                </span>
              </div>
            </div>
            
          </div>
          
          <div class="clearfix"></div>
          
          <div class="row m-t-25 p-0 m-b-25">
            
            <div class="col-xs-3">
              <div class="c-white m-b-5">Date</div>
              <h2 class="m-0 c-white f-300">
                <div class="dd-block">
                  <div class="date-picker">
                    <uib-datepicker show-weeks="false" ng-model="newInvoice.date" min-date="minDate" class="dp-inline"></uib-datepicker>
                  </div>
                </div>
              </h2>
            </div>
            
          </div>
          
          <div class="clearfix"></div>
          
          <button><i class="zmdi zmdi-plus" ng-click="addLine()"></i></button>

          <table class="table i-table m-t-25 m-b-25">
            <thead class="text-uppercase">
              <th class="c-gray">ITEM DESCRIPTION</th>
              <th class="c-gray">UNIT PRICE</th>
              <th class="c-gray">QUANTITY</th>
              <th class="highlight">TOTAL</th>
            </thead>
            
            <tbody>
              <thead>
                <tr ng-repeat="item in newInvoice.billedItems">
                  <td width="50%">
                    <h5 class="text-uppercase f-400">
                      <input ng-model="item.title" type="text" class="form-control" placeholder="Title">
                    </h5>
                      <input ng-model="item.description" type="text" class="form-control" placeholder="Description">
                  </td>
                  
                  <td>
                    <input ng-model="item.unitPrice" type="text" class="form-control" placeholder="Price">
                  </td>
                  <td>
                    <input ng-model="item.quantity" type="text" class="form-control" placeholder="Quantity">
                  </td>
                  <td class="highlight">{{item.unitPrice*item.quantity}} $</td>
                </tr>
              </thead> 
            </tbody>
          </table>
          
          <div class="clearfix"></div>
          
          <div class="p-25">
            <h4 class="c-green f-400">REMARKS</h4>
            <p class="c-gray">
              <input ng-model="newInvoice.remarks" type="text" class="form-control" placeholder="Remarks">  
            </p>            
          </div>
        </div>
        
        <footer class="m-t-15 p-20">
          <ul class="list-inline text-center list-unstyled">
            <li class="m-l-5 m-r-5"><small>{{accountDetails.supportEmail}}</small></li>
            <li class="m-l-5 m-r-5"><small>{{accountDetails.phone}}</small></li>
            <li class="m-l-5 m-r-5"><small>{{accountDetails.site}}</small></li>
          </ul>
        </footer>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-info waves-effect" ng-click="saveInvoice(newInvoice)">Save</button>
      <button class="btn btn-info waves-effect" ng-click="cancel()">Cancel</button>
    </div>
  </script>
  
</div>