<div class="container" data-ng-controller="invoicesCtrl as invoicesController">
    <div class="block-header">
        <h2>{{'INVOICES_VIEW' | translate }}</h2>
    </div>
    
    <!-- Add button -->
    <button data-ng-controller="newInvoiceCtrl" ng-click="open('lg')" class="btn btn-float btn-danger m-btn"><i class="zmdi zmdi-plus"></i></button>
    
    <div class="lv-header-alt clearfix">                
        <div class="lvh-search">
            <input type="text" ng-model="searchText" placeholder="What are you looking for?" class="lvhs-input">
            
            <i class="lvh-search-close" data-ng-click="searchText = ''">&times;</i>
        </div>    
    </div>
    
    <br>
    <br>
    
    <div class="card-body">
        <div class="table-responsive">
            <table ng-table="tctrl.tableEdit" class="table table-striped table-vmiddle">
                <tr ng-repeat="invoice in allInvoices.list | filter:searchText track by invoice.id"  ng-class="{ 'active': w.$edit }">
                    <td data-title="'ID'">
                        <span>{{ invoice.id }}</span>
                    </td>
                    <td data-title="'Ref'">
                        <span>{{ invoice.invoiceNumber }}</span>
                    </td>
                    <td data-title="'Name'">
                        <span>{{ invoice.billingDetails.name }}</span>
                    </td>
                    <td data-title="'Email'">
                        <span>{{ invoice.billingDetails.email }}</span>
                    </td>
                    <td data-title="'Total Amount'">
                        <span>{{ invoice.totalPrice }} {{ invoice.currency }}</span>
                    </td>
                    <td data-title="'Actions'">
                        <button type="button" class="btn btn-default" data-ng-controller="detailInvoiceCtrl" ng-click="open(invoice, 'lg')"><i class="zmdi zmdi-zoom-in"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
</div>

<!-- Add New Item Modal -->
<div data-ng-include="'views/pages/invoice/invoice-detail.html'"></div>
<div data-ng-include="'views/pages/invoice/new-invoice.html'"></div>
