<div class="container" data-ng-controller="customerCtrl as customerController">
    <div class="block-header">
        <h2>{{'CUSTOMERS_VIEW' | translate }}</h2>
    </div>
                    
    <button data-ng-controller="addCustomerCtrl" ng-click="open('lg')" class="btn btn-float btn-danger m-btn"><i class="zmdi zmdi-plus"></i></button>

    <div class="lv-header-alt clearfix">                
        <div class="lvh-search">
            <input type="text" ng-model="searchText" placeholder="What are you looking for?" class="lvhs-input">
            
            <i class="lvh-search-close" data-ng-click="searchText = ''">&times;</i>
        </div>    
    </div>
    
    <br>
    <br>
    
    <div class="card-body">
        <div class="table-responsive">
            <table ng-table="tctrl.tableEdit" class="table table-striped table-vmiddle">
                <tr ng-repeat="customer in customerController.allCustomers.list | filter:searchText track by customer.id"  ng-class="{ 'active': w.$edit }">
                    <td data-title="'ID'">
                        <span>{{ customer.id }}</span>
                    </td>
                    <td data-title="'First Name'">
                        <span ng-if="!customer.$edit">{{ customer.firstName }}</span>
                        <div ng-if="customer.$edit"><input class="form-control" type="text" ng-model="customer.firstName" /></div>
                    </td>
                    <td data-title="'Last Name'">
                        <span ng-if="!customer.$edit">{{ customer.lastName }}</span>
                        <div ng-if="customer.$edit"><input class="form-control" type="text" ng-model="customer.lastName" /></div>
                    </td>
                    <td data-title="'Email'">
                        <span ng-if="!customer.$edit">{{ customer.email }}</span>
                        <div ng-if="customer.$edit"><input class="form-control" type="text" ng-model="customer.email" /></div>
                    </td>
                    <td data-title="'Phone Number'">
                        <span ng-if="!customer.$edit">{{ customer.phoneNumber }}</span>
                        <div ng-if="customer.$edit"><input class="form-control" type="text" ng-model="customer.phoneNumber" /></div>
                    </td>
                    <td data-title="'Address'">
                        <span ng-if="!customer.$edit">{{ customer.address }}</span>
                        <div ng-if="customer.$edit"><input class="form-control" type="text" ng-model="customer.address" /></div>
                    </td>

                    <td data-title="'Actions'">
                        <button type="button" class="btn btn-default" ng-if="!customer.$edit" ng-click="customer.$edit = true"><i class="zmdi zmdi-edit"></i></button>
                        <button type="button" class="btn btn-success" ng-if="customer.$edit" ng-click="customer.$edit = false"><i class="zmdi zmdi-check"></i></button>

                        <button type="button" class="btn btn-default" ng-click="customerController.deleteCustomer(customer.id)"><i class="zmdi zmdi-delete"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
</div>

<div data-ng-include="'views/pages/customer/add-customer.html'"></div>
