<div class="card">
  <script type="text/ng-template" id="addTechnicianTaskModalContent.html">
    <div class="modal-header">
      <h4 class="modal-title">{{'ADD_NEW_TASK' | translate }}</h4>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-header">
          <section style="float:left">
            <h2>{{'NEW_TASK_TITLE' | translate }}</h2>
            <br>
          </section>
          <section style="float:right">
            <form name="newTask">
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account-box-mail"></i></span>
                <div class="fg-line">
                  <input ng-model="task.email" name="email" type="email" class="form-control" placeholder="Email" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" >
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account-box-phone"></i></span>
                <div class="fg-line">
                  <input ng-model="task.address" type="text" class="form-control" placeholder="Address">
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account-box-phone"></i></span>
                <div class="fg-line">
                  <input ng-model="task.type" type="text" class="form-control" placeholder="Type">
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account-box-phone"></i></span>
                <div class="fg-line">
                  <input ng-model="task.description" type="text" class="form-control" placeholder="Description">
                </div>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account-box-phone"></i></span>
                <div class="fg-line">
                  Arrived at <input ng-model="task.arrivalDate" type="date" class="form-control" placeholder="Arrived at">
                </div>
              </div>
              <br>
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                <div>
                  <span class="btn btn-info btn-file">
                    <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists">Change</span>
                    <input custom-on-change="uploadFile" type="file" class="fileInput" file-model="fileInput" name="file">
                  </span>
                  <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
              </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-info waves-effect" ng-disabled="!newTask.$valid" ng-click="save(task)">Save</button>
          <button class="btn btn-info waves-effect" ng-click="cancel()">Cancel</button>
        </div>
      </script>
    </div>
