<div class="container" data-ng-controller="technicianCtrl as technicianController">
    <div class="block-header">
        <h2>{{'TECHNICIAN_VIEW_HEADER' | translate }}</h2>
    </div>

    <button data-ng-controller="addTechnicianTaskCtrl" ng-click="open('lg')" class="btn btn-float btn-danger m-btn"><i class="zmdi zmdi-plus"></i></button>

    <div class="lv-header-alt clearfix">
        <div class="lvh-search">
            <input type="text" ng-model="searchText" placeholder="What are you looking for?" class="lvhs-input">

            <i class="lvh-search-close" data-ng-click="searchText = ''">&times;</i>
        </div>
    </div>

    <br>
    <br>

    <div class="card-body">
        <div class="table-responsive">
            <table ng-table="tctrl.tableEdit" class="table table-striped table-vmiddle">
                <tr ng-repeat="task in technicianController.allOpenTasks.list | filter:searchText track by task.id"  ng-class="{ 'active': w.$edit }">
                    <td data-title="'ID'">
                        <span>{{ task.id }}</span>
                    </td>
                    <td data-title="'Photo'">
                        <img class="listViewPhoto" ng-src="{{task.img}}"></img>
                    </td>
                    <td data-title="'Item Type'">
                        <span ng-if="!task.$edit">{{ task.type }}</span>
                        <div ng-if="task.$edit"><input class="form-control" type="text" ng-model="task.type"></div>
                    </td>
                    <td data-title="'Problem Description'">
                        <span ng-if="!task.$edit">{{ task.description }}</span>
                        <div ng-if="task.$edit"><input class="form-control" type="text" ng-model="task.description"></div>
                    </td>
                    <td data-title="'Arrived At'">
                         <span ng-if="!task.$edit"> {{ task.arrivalDate | date : 'shortDate'}} </span>
                         <div ng-if="task.$edit"><input class="form-control" type="text" ng-model="task.arrivalDate"></div>
                    </td>
                    <td data-title="'Status'">
                        <span ng-if="!task.$edit">{{ task.status }}</span>
                        <div ng-if="task.$edit"><input class="form-control" type="text" ng-model="task.status"></div>
                    </td>
                    <td data-title="'Technictian'">
                        <span ng-if="!task.$edit">{{ task.technician }}</span>
                        <div ng-if="task.$edit"><input class="form-control" type="text" ng-model="task.technician"></div>
                    </td>
                    <td data-title="'Started At'">
                        <span ng-if="!task.$edit">{{ task.startworkingat | date : 'shortDate' }}</span>
                        <div ng-if="task.$edit"><input class="form-control" type="text" ng-model="task.startworkingat"> </div>
                    </td>

                    <td data-title="'Actions'">
                        <button type="button" class="btn btn-deafault" ng-if="task.status === 'New'" ng-click="startTask(task)"><i class="zmdi zmdi-play"></i></button>
                        <span ng-show="isAdmin()">
                            <button type="button" class="btn btn-default" ng-if="!task.$edit" ng-click="task.$edit = true"><i class="zmdi zmdi-wrench"></i></button>
                            <button type="button" class="btn btn-success" ng-if="task.$edit" ng-click="task.$edit = false"><i class="zmdi zmdi-check"></i></button>
                        </span>    
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div data-ng-include="'views/pages/technician/add-technician-task.html'"></div>
