<div class="card">
    <script type="text/ng-template" id="newLocationModal.html">
      <div class="modal-header">
        <h4 class="modal-title">{{'ADD_NEW_LOCATION' | translate }}</h4>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <section>
              <form name="location">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="fg-line">
                        <input ng-model="location.name" name="title" type="text" class="form-control" placeholder="Name" required>
                    </div>
                    <span class="input-group-addon"></span>
                    <div class="fg-line">
                        <input ng-model="location.description" type="text" class="form-control" placeholder="Description">
                    </div>
                  </span>
                </div>
              </form>
            </section>
          </div>
      <div class="modal-footer">
        <button class="btn btn-info waves-effect" ng-disabled="location.$error.required" ng-click="save(location)">Add</button>
        <button class="btn btn-info waves-effect" ng-click="cancel()">Cancel</button>
      </div>
    </script>
</div>