<div class="container" data-ng-controller="locationsCtrl as locationsController">
    <div class="block-header">
        <h2>{{'LOCATIONS_VIEW' | translate }}</h2>
    </div>
    
    <!-- Add button -->
    <button data-ng-controller="newLocationCtrl" ng-click="open('me')" class="btn btn-float btn-danger m-btn"><i class="zmdi zmdi-plus"></i></button>
    
    <div class="lv-header-alt clearfix">                
        <div class="lvh-search">
            <input type="text" ng-model="searchText" placeholder="What are you looking for?" class="lvhs-input">
            
            <i class="lvh-search-close" data-ng-click="searchText = ''">&times;</i>
        </div>    
    </div>
    
    <br>
    <br>
    
    <div class="card-body">
        <div class="table-responsive">
            <table ng-table="tctrl.tableEdit" class="table table-striped table-vmiddle">
                <tr ng-repeat="location in locationsController.allLocations.list | filter:searchText track by location.id"  ng-class="{ 'active': w.$edit }">
                    <td data-title="'ID'">
                        <span>{{ location.id }}</span>
                    </td>
                    <td data-title="'Name'">
                        <span ng-if="!location.$edit">{{ location.name }}</span>
                        <span ng-if="location.$edit">
                            <div class="form-group">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-sm" ng-model="location.name">
                                </div>
                            </div>
                        </span>
                    </td>
                    <td data-title="'Description'">
                        <span ng-if="!location.$edit">{{ location.description }}</span>
                        <span ng-if="location.$edit">
                            <div class="form-group">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-sm" ng-model="location.description">
                                </div>
                            </div>
                        </span>

                    </td>
                    <td data-title="'Actions'">
                        <button type="button" class="btn btn-default" ng-click="locationsController.delete(location.id)"><i class="zmdi zmdi-delete"></i></button>
                        <button type="button" class="btn btn-success" ng-if="location.$edit" ng-click="location.$edit = false"><i class="zmdi zmdi-check"></i></button>
                        <button type="button" class="btn btn-default" ng-if="!location.$edit" ng-click="location.$edit = true"><i class="zmdi zmdi-check"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
</div>

<div data-ng-include="'views/pages/location/new-location.html'"></div>
