<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'views/components/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main" data-ng-controller="dashboardCtrl as dashboardController">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content">
      <div class="container">
        <div class="block-header">
            <h2>{{'DASHBOARD_VIEW' | translate }}</h2>

            <ul class="actions">
                <li>
                    <a href="">
                        <i class="zmdi zmdi-trending-up"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="zmdi zmdi-check-all"></i>
                    </a>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a href="" uib-dropdown-toggle>
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Refresh</a>
                        </li>
                        <li>
                            <a href="">Manage Widgets</a>
                        </li>
                        <li>
                            <a href="">Widgets Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

        <div class="mini-charts">
            <div class="row">
                <div class="col-sm-4">
                    <div class="mini-charts-item bgm-cyan">
                        <div class="clearfix">
                            <div class="chart stats-bar" data-sparkline-bar></div>
                            <div class="count">
                                <small>{{'ITEMS_IN_STOCK' | translate }}</small>
                                <h2>25,000</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="mini-charts-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-bar-2" data-sparkline-bar></div>
                            <div class="count">
                                <small>{{'TO_BE_RECEIVED' | translate }}</small>
                                <h2>300</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="mini-charts-item bgm-bluegray">
                        <div class="clearfix">
                            <div class="chart stats-line-2" data-sparkline-line></div>
                            <div class="count">
                                <small>{{'ITEMS_SOLD' | translate }}</small>
                                <h2>23,856</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="mini-charts-item bgm-orange">
                        <div class="clearfix">
                            <div class="chart stats-line" data-sparkline-line></div>
                            <div class="count">
                                <small>{{'CURRENT_VALUE' | translate }}</small>
                                <h2>€ 47,000</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="mini-charts-item bgm-teal">
                        <div class="clearfix">
                            <div class="chart chart-pie stats-pie" data-sparkline-pie></div>
                            <div class="count">
                                <small>{{'EXPECTED_VALUE' | translate }}</small>
                                <h2>€ 15,000</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="mini-charts-item bgm-red">
                        <div class="clearfix">
                            <div class="chart stats-line" data-sparkline-line></div>
                            <div class="count">
                                <small>{{'TOTAL_VALUE' | translate }}</small>
                                <h2>$ 7,000</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div class="container">
          <div class="block-header">
              <ul class="actions">
                  <li>
                      <a href="">
                          <i class="zmdi zmdi-trending-up"></i>
                      </a>
                  </li>
                  <li>
                      <a href="">
                          <i class="zmdi zmdi-check-all"></i>
                      </a>
                  </li>
                  <li class="dropdown" uib-dropdown>
                      <a href="" uib-dropdown-toggle>
                          <i class="zmdi zmdi-more-vert"></i>
                      </a>

                      <ul class="dropdown-menu dropdown-menu-right">
                          <li>
                              <a href="">Refresh</a>
                          </li>
                          <li>
                              <a href="">Manage Widgets</a>
                          </li>
                          <li>
                              <a href="">Widgets Settings</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>

              <div class="col-md-6">
                  <div class="card">
                      <div class="card-header">
                          <h2>{{'BEST_SELLING' | translate }} </h2>

                          <ul class="actions">
                              <li class="dropdown action-show" uib-dropdown>
                                  <a href="" uib-dropdown-toggle>
                                      <i class="zmdi zmdi-more-vert"></i>
                                  </a>

                                  <div class="dropdown-menu pull-right">
                                      <p class="p-20">
                                          You can put anything here
                                      </p>
                                  </div>
                              </li>
                          </ul>
                      </div>

                      <div class="card-body card-padding">
                          <div id="donut-chart-2" class="flot-chart-pie" data-pie-donut></div>
                          <div class="flc-donut hidden-x"></div>
                      </div>
                  </div>
              </div>

              <div class="col-md-6">
                  <div class="card">
                      <div class="card-header">
                          <h2>{{'LOW_STOCK' | translate }}</h2>

                          <ul class="actions">
                              <li class="dropdown action-show" uib-dropdown>
                                  <a href="" uib-dropdown-toggle>
                                      <i class="zmdi zmdi-more-vert"></i>
                                  </a>

                                  <div class="dropdown-menu pull-right">
                                      <p class="p-20">
                                          You can put anything here
                                      </p>
                                  </div>
                              </li>
                          </ul>
                      </div>

                      <div class="card-body card-padding">
                          <div id="donut-chart" class="flot-chart-pie" data-pie-donut></div>
                          <div class="flc-donut hidden-xs"></div>
                      </div>
                  </div>
              </div>
          </div>

      </div>

    </section>

</section>

<footer id="footer" data-ng-include="'views/components/footer.html'"></footer>
