<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'views/components/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main" data-ng-controller="homeCtrl as homeController">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    
    <section id="content">
        
        <div class="carousel-home card">
            <div class="card-header">
                <h2>{{'HEADLINE' | translate }}<small>{{'LANGUAGE' | translate }}</small></h2>
            </div>
            
            <div class="card-body card-padding">
                <uib-carousel interval="homeController.myInterval">
                    <uib-slide ng-repeat="w in homeController.slides" active="slide.active">
                        <img ng-src="media/carousel/{{w.img}}">
                        <div class="carousel-caption">
                            <h3>{{w.title}}</h3>
                            <p>{{w.text}}</p>
                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
        
    </section>
</section>

<footer id="footer" data-ng-include="'views/components/footer.html'"></footer>
