<div class="registration-page container" data-ng-controller="loginCtrl as loginContoller">
  <div style="display:block">
    <h2><img class="login-page-logo-small" src="../../img/logo_transparent_background.png" alt=""></h2>
  </div>
  <div alt="" ng-class="loginContoller.ca" class="animated" id="fadeingExits">
    
    
    <table style="width:100%">
      <tr>
        <td width="50%">          
          <div class="card-body login-page">
            
            <form name="login">
              <!-- Login -->
              <div class="lc-block" id="l-login" data-ng-class="{ 'toggled': loginContoller.login === 1 }" data-ng-if="loginContoller.login === 1">
                
                <div class="form-group fg-float m-b-30" ng-class="loginContoller.account ? 'has-success' : 'has-error'">
                  <div class="fg-line">
                    <input name="account" ng-model="loginContoller.account" type="text" class="form-control input-sm" required>
                    <label class="fg-label">Account</label>
                  </div>
                  <small ng-show="login.account.$touched && login.account.$error.required" class="help-block">Mandatory field</small>
                </div>
                
                <div class="form-group fg-float m-b-30" ng-class="loginContoller.email ? 'has-success' : 'has-error'">
                  <div class="fg-line">
                    <input name="email" ng-model="loginContoller.email" type="email" class="form-control input-sm" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" required>
                    <label class="fg-label">Username</label>
                  </div>
                  <small ng-show="login.email.$touched && login.email.$error.required" class="help-block">Mandatory field</small>
                  <small ng-show="login.email.$touched && login.email.$error.pattern" class="help-block">Invalid email address</small>
                </div>
                
                <div class="form-group fg-float m-b-20" ng-class="loginContoller.password ? 'has-success' : 'has-error'">
                  <div class="fg-line">
                    <input name="password" ng-model="loginContoller.password" type="password" class="form-control " required>
                    <label class="fg-label">Password</label>
                  </div>
                  <small ng-show="login.password.$touched && login.password.$error.required" class="help-block">Mandatory field</small>
                </div>
                
                <div class="clearfix"></div>
                
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="" ng-model="loginContoller.rememberMe">
                    <i class="input-helper"></i>
                    Keep me signed in
                  </label>
                </div>
                
                <a href="" ng-show="!login.$invalid" ng-click="loginContoller.performLogin()" class="btn btn-login btn-danger btn-float bgm-orange"><i class="zmdi zmdi-arrow-forward"></i></a>
                
                <ul class="login-navigation">
                  <li class="bgm-orange" data-ng-click="loginContoller.login = 0; loginContoller.forgot = 1">Forgot Password?</li>
                </ul>
              </div>
            </form>
            
            <div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': loginContoller.forgot === 1 }" data-ng-if="loginContoller.forgot === 1">
              <p class="text-left">Enter your email in the following box to reset your password, password will arrive to your email in the coming minutes</p>
              
              <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                  <input ng-model="loginContoller.email" type="email" class="form-control" placeholder="Email Address">
                </div>
              </div>
              
              <a href="" ng-click="loginContoller.resetPassword()" class="btn btn-login btn-danger btn-float bgm-orange"><i class="zmdi zmdi-arrow-forward"></i></a>
              
              <ul class="login-navigation">
                <li data-block="#l-login" class="bgm-green" data-ng-click="loginContoller.forgot = 0; loginContoller.login = 1">Login</li>
              </ul>
            </div>
            
            
          </div>
        </td>
        <td class="hidden-xs" width="50%">
          <img style="width:100%" src="../../img/white_logo_color_background.jpg" alt="">
        </td>
      </tr>
    </table>
    
    
  </div>
</div>

<footer id="footer" data-ng-include="'views/components/footer.html'"></footer>
