<div class="registration-page container" data-ng-controller="registrationCtrl as registrationController">
  <div style="display:block">
    <h2><img class="login-page-logo-small" src="../../img/logo_transparent_background.png" alt=""></h2>
  </div>
  <div class="card">
    <div class="card-header ch-alt">
      <h2>Try WhereHouse For Free</h2>
    </div>
    <table style="width:100%">
      <tr>
        <td width="50%">          
          <div class="card-body">
            <form name="registration">
              
              <div class="card-body card-padding">
                
                <div class="form-group fg-float m-b-30" ng-class="registrationController.account ? 'has-success' : 'has-error'">
                  <div class="fg-line">
                    <input name="account" ng-model="registrationController.account" type="text" 
                    class="form-control input-sm" required></input>
                    <label class="fg-label">Account Name</label>
                  </div>
                  <small ng-show="registration.account.$touched && registration.account.$error.required" class="help-block">Please enter at least 1 character</small>
                </div>
                
                <div class="form-group fg-float m-b-30" ng-class="registrationController.firstName ? 'has-success' : 'has-error'">
                  <div class="fg-line">
                    <input name="firstName" ng-model="registrationController.firstName" type="text" class="form-control input-sm" ng-pattern="/^[a-zA-Z\s]*$/" required>
                    <label class="fg-label">First Name</label>
                  </div>
                  <small ng-show="registration.firstName.$touched && registration.firstName.$error.required" class="help-block">Mandatory field</small>
                  <small ng-show="registration.firstName.$touched && registration.firstName.$error.pattern" class="help-block">Please enter a valid first name </small>
                  
                </div>
                
                <div class="form-group fg-float m-b-30" ng-class="registrationController.lastName ? 'has-success' : 'has-error'">
                  <div class="fg-line">
                    <input name="lastName" ng-model="registrationController.lastName" type="text" class="form-control input-sm" ng-pattern="/^[a-zA-Z\s]*$/" required>
                    <label class="fg-label">Last Name</label>
                  </div>
                  <small ng-show="registration.lastName.$touched && registration.lastName.$error.pattern" class="help-block">Please enter a valid last name </small>
                  <small ng-show="registration.lastName.$touched && registration.lastName.$error.required" class="help-block">Mandatory field</small>
                </div>
                
                <div class="form-group fg-float m-b-30" ng-class="registrationController.email ? 'has-success' : 'has-error'">
                  <div class="fg-line">
                    <input name="email" ng-model="registrationController.email" type="email" class="form-control input-sm" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" required>
                    <label class="fg-label">Email Address</label>
                  </div>
                  <small ng-show="registration.email.$touched && registration.email.$error.required" class="help-block">Mandatory field</small>
                  <small ng-show="registration.email.$touched && registration.email.$error.pattern" class="help-block">Please enter a valid email address</small>
                </div>
                
                <div class="form-group fg-float m-b-30" ng-class="registrationController.password ? 'has-success' : 'has-error'">
                  <div class="fg-line">
                    <input name="password" type="password" ng-model="registrationController.password" class="form-control input-sm" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/" required>
                    <label class="fg-label">Password</label>
                  </div>
                  <small ng-show="registration.password.$touched && registration.password.$error.required" class="help-block">Mandatory field</small>
                  <small ng-show="registration.password.$touched && registration.password.$error.pattern" class="help-block">Password must be at least 6 chars, contain at least 1 uppercase letter and at least one number</small>
                </div>
                <div ng-class="registrationController.licenseAgreement ? 'has-success' : 'has-error'">
                  <div class="checkbox">
                    <label>
                      <input ng-model="registrationController.licenseAgreement" type="checkbox" value="">
                      <i class="input-helper"></i>
                      License Agreement
                    </label>
                  </div>
                </div>
                
                <button ng-disabled="registration.$invalid" ng-click="registrationController.createNewUser()" class="btn btn-info bgm-orange">Sign Up</button>
              </div>
            </form>
          </div>
        </td>
        <td class="hidden-xs" width="50%">
          <img style="width:100%" src="../../img/white_logo_color_background.jpg" alt="">
        </td>
      </tr>
      </table>
      </div>    
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>

<footer id="footer" data-ng-include="'views/components/footer.html'"></footer>
