<div class="card" data-ng-controller="accountSettingsCtrl as accountSettingsController">
  <div class="card-header">
    <h2>Account Details <small></small></h2>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table ng-table="tctrl.tableEdit" class="table table-striped table-vmiddle">
        <tr data-title="'name'">
          <td> Company: </td>
          <td>
            <span ng-if="!accountSettingsController.allSettings.$edit">{{ accountSettingsController.allSettings.name }}</span>
            <div ng-if="accountSettingsController.allSettings.$edit"><input class="form-control" type="text" ng-model="accountSettingsController.allSettings.name"/></div>
          </td>
        </tr>
        <tr data-title="'phone'">
          <td> Phone: </td>
          <td>
            <span ng-if="!accountSettingsController.allSettings.$edit">{{ accountSettingsController.allSettings.phone }}</span>
            <div ng-if="accountSettingsController.allSettings.$edit"><input class="form-control" type="text" ng-model="accountSettingsController.allSettings.phone"/></div>
          </td>
        </tr>
        <tr data-title="'address'">
          <td> Address: </td>
          <td>
            <span ng-if="!accountSettingsController.allSettings.$edit">{{ accountSettingsController.allSettings.address }}</span>
            <div ng-if="accountSettingsController.allSettings.$edit"><input class="form-control" type="text" ng-model="accountSettingsController.allSettings.address"/></div>
          </td>
        </tr>
        <tr data-title="'email'">
          <td> Email: </td>
          <td>
            <span ng-if="!accountSettingsController.allSettings.$edit">{{ accountSettingsController.allSettings.email }}</span>
            <div ng-if="accountSettingsController.allSettings.$edit"><input class="form-control" type="text" ng-model="accountSettingsController.allSettings.email"/></div>
          </td>
        </tr>
        <tr data-title="'suppoert email'">
          <td> Support email: </td>
          <td>
            <span ng-if="!accountSettingsController.allSettings.$edit">{{ accountSettingsController.allSettings.supportEmail }}</span>
            <div ng-if="accountSettingsController.allSettings.$edit"><input class="form-control" type="text" ng-model="accountSettingsController.allSettings.supportEmail"/></div>
          </td>
        </tr>
        <tr data-title="'website'">
          <td> Website: </td>
          <td>
            <span ng-if="!accountSettingsController.allSettings.$edit">{{ accountSettingsController.allSettings.site }}</span>
            <div ng-if="accountSettingsController.allSettings.$edit"><input class="form-control" type="text" ng-model="accountSettingsController.allSettings.site"/></div>
          </td>
        </tr>
      </table>
      <div data-title="'Actions'" data-ng-controller="manageUsersCtrl">
        <span ng-show="isAdmin()">
          <button type="button" class="btn btn-default" ng-if="!accountSettingsController.allSettings.$edit" ng-click="accountSettingsController.allSettings.$edit = true"><i class="zmdi zmdi-edit"></i></button>
          <button type="button" class="btn btn-success" ng-if="accountSettingsController.allSettings.$edit" ng-click="accountSettingsController.allSettings.$edit = false"><i class="zmdi zmdi-check"></i></button>
        </span>
        <div>
          <div class="col-sm-8">
            
            <p class="f-500 c-black m-b-20">Image Preview</p>
            
            <div class="fileinput fileinput-new" data-provides="fileinput">
              <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
              <div>
                <span class="btn btn-info btn-file">
                  <span class="fileinput-new">Select image</span>
                  <span class="fileinput-exists">Change</span>
                  <input custom-on-change="uploadFile" type="file" class="fileInput" file-model="fileInput" name="file">
                </span>
                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
