<div class="card">
    <script type="text/ng-template" id="addUserModalContent.html">
      <div class="modal-header">
        <h4 class="modal-title">Invite new user</h4>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <section style="float:left">
              <h2>Invite user to your account <small> user will recieve mail for registration </small></h2>
            </section>
            <section style="float:right">
              <form name="invite">
                <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <div class="fg-line">
                        <input ng-model="newUser.email" name="email" type="email" class="form-control" placeholder="Email" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" required>
                    </div>
                    <span class="input-group-addon"></span>
                    <div class="fg-line">
                        <input ng-model="newUser.firstName" type="text" class="form-control" placeholder="First Name (optional)">
                    </div>
                  </span>
                </div>
              </form>
            </section>
          </div>
      <div class="modal-footer">
        <button class="btn btn-info waves-effect" ng-if="invite.email.$valid == true" ng-click="inviteUser()">Save</button>
        <button class="btn btn-info waves-effect" ng-click="cancel()">Cancel</button>
      </div>
    </script>
</div>
