<div class="card" data-ng-controller="manageUsersCtrl as manageUsersController">
    <div class="card-header">
        <h2>{{'MANAGE_USERS_TITLE' | translate }} <small></small></h2>
    </div>

    <div class="card-body">
      <span ng-show="isAdmin()">
        <button data-ng-controller="addUserCtrl" ng-click="open('lg')" class="btn btn-float btn-danger m-btn"><i class="zmdi zmdi-plus"></i></button>
      </span>
        <div class="table-responsive">
            <table ng-table="tctrl.tableEdit" class="table table-striped table-vmiddle">
                <tr ng-repeat="user in allUsers"  ng-class="{ 'active': w.$edit }">
                    <td data-title="'ID'">
                        <span>{{ user.id }}</span>
                    </td>
                    <td data-title="'First Name'">
                        <span ng-if="!user.$edit">{{ user.firstName }}</span>
                        <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.firstName" /></div>
                    </td>
                    <td data-title="'Last Name'">
                        <span ng-if="!user.$edit">{{ user.lastName }}</span>
                        <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.lastName" /></div>
                    </td>
                    <td data-title="'Email'">
                        <span>{{ user.email }}</span>
                    </td>
                    <td data-title="'Actions'">
                      <span ng-show="isAdmin()">
                        <button type="button" class="btn btn-default" ng-if="!user.$edit" ng-click="user.$edit = true"><i class="zmdi zmdi-edit"></i></button>
                        <button type="button" class="btn btn-success" ng-if="user.$edit" ng-click="user.$edit = false"><i class="zmdi zmdi-check"></i></button>

                        <button type="button" class="btn btn-default" ng-click="deleteUser(user)"><i class="zmdi zmdi-delete"></i></button>

                        <button type="button" class="btn btn-default" ng-if="user.role === 0" ng-click="toggleAdmin(user)"><i class="zmdi zmdi-account"></i></button>
                        <button type="button" class="btn btn-success" ng-if="user.role === 1" ng-click="toggleAdmin(user)"><i class="zmdi zmdi-account"></i></button>
                      </span>
                    </td>
                    <td data-title="Status">
                        <span ng-if="user.registered"> Registered </span>
                        <span ng-if="!user.registered"> Not registered </span>
                    </td>
                </tr>
            </table>
            <div data-ng-include="'views/pages/account/users/add-user.html'"></div>
        </div>
    </div>
</div>
