<ul class="header-inner clearfix">
    <li class="logo hidden-xs">
        <a data-ui-sref="home">
            <img class="logo-icon" src="../../img/logo_only_transparent.png" alt=""> <span style="color: coral;">WHERE</span><span style="color: black;">HOUSE</span>
        </a>
    </li>
    
    <li class="pull-left">
        <ul class="top-menu">
            <li>
                <a href="" ng-click="hctrl.inventory()"><i class="header-tab zmdi zmdi-collection-item"></i><span class="hidden-xs"> {{'INVENTORY_TAB' | translate }}</span> </a>
            </li>
            <li>
                <a href="" data-ui-sref="pages.locations"><i class="header-tab zmdi zmdi-city"></i><span class="hidden-xs"> {{'LOCATIONS_TAB' | translate }}</span> </a>
            </li>
            <li>
                <a href="" data-ui-sref="pages.invoices"><i class="header-tab zmdi zmdi-card"></i><span class="hidden-xs"> {{'INVOICES_TAB' | translate }}</span> </a>
            </li>
            <li>
                <a href="" ng-click="hctrl.dashboard()" ><i class="header-tab zmdi zmdi-view-dashboard"></i><span class="hidden-xs"> {{'DASHBOARD_TAB' | translate }}</span> </a>
            </li>
            <li>
                <a href="" data-ui-sref="pages.customers"><i class="header-tab zmdi zmdi-accounts-alt"></i><span class="hidden-xs"> {{'CUSTOMERS_TAB' | translate }}</span> </a>
            </li>            
            <li>
                <a href="" data-ui-sref="pages.suppliers"><i class="header-tab zmdi zmdi-accounts-alt"></i><span class="hidden-xs"> {{'SUPPLIER_TAB' | translate }}</span> </a>
            </li>
            <li>
                <a href="" data-ui-sref="pages.tech"><i class="header-tab zmdi zmdi-refresh-sync-alert"></i><span class="hidden-xs"> {{'TECHNICIAN_TAB' | translate }}</span> </a>
            </li>
        </ul>
    </li>
    
    <li class="pull-right">
        
        <ul class="top-menu">
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <img class="profile-photo" ng-src="{{'SELECTED_LANGUAGE' | translate}}"></img>
                </a>

                <div class="dropdown-menu pull-right">
                    <div class="listview">
                        <div class="lv-header">
                            {{'LANGUAGE' | translate}}
                        </div>
                        <div class="lv-body">
                            <a ng-click="hctrl.changeLanguage('de')" class="lv-item" ng-href="">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" ng-src="img/headers/flags/de.svg" alt="">
                                        <label>{{'BUTTON_LANG_DE' | translate}}</label>
                                    </div>
                                </div>
                            </a>
                            <a ng-click="hctrl.changeLanguage('en')" class="lv-item" ng-href="">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" ng-src="img/headers/flags/us.svg" alt="">
                                         <label>{{'BUTTON_LANG_EN' | translate}}</label>
                                    </div>
                                </div>
                            </a>

                        </div>
                        
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
            
            <!-- <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-notifications"></i>
                    <i class="tmn-counts">9</i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Notification
                            
                            <ul class="actions">
                                <li>
                                    <a href="" data-ng-click="hctrl.clearNotification($event)">
                                        <i class="zmdi zmdi-check-all"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="lv-body">
                            <a class="lv-item" ng-href="" ng-repeat="w in hctrl.messageResult.list">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" ng-src="img/profile-pics/{{ w.img }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">{{ w.user }}</div>
                                        <small class="lv-small">{{ w.text }}</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="clearfix"></div>
                        
                        <a class="lv-footer" href="">View Previous</a>
                    </div>
                    
                </div>
            </li> -->
            
            <!-- <li class="dropdown hidden-xs" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-view-list-alt"></i>
                    <i class="tmn-counts">2</i>
                </a>
                <div class="dropdown-menu pull-right dropdown-menu-lg">
                    <div class="listview">
                        <div class="lv-header">
                            Tasks
                        </div>
                        <div class="lv-body">
                            <div class="lv-item">
                                <div class="lv-title m-b-5">HTML5 Validation Report</div>
                                
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                        <span class="sr-only">95% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="lv-item">
                                <div class="lv-title m-b-5">Google Chrome Extension</div>
                                
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="lv-item">
                                <div class="lv-title m-b-5">Social Intranet Projects</div>
                                
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="lv-item">
                                <div class="lv-title m-b-5">Bootstrap Admin Template</div>
                                
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="lv-item">
                                <div class="lv-title m-b-5">Youtube Client App</div>
                                
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="clearfix"></div>
                        
                        <a class="lv-footer" href="">View All</a>
                    </div>
                </div>
            </li> -->
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <img class="profile-photo" src="img/demo/photo.jpg" alt="">
                </a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li class="skin-switch hidden-xs">
                        <span ng-repeat="w in mactrl.skinList | limitTo : 6" class="ss-skin bgm-{{ w }}" data-ng-click="mactrl.skinSwitch(w)"></span>
                    </li>
                    <li class="divider hidden-xs"></li>
                    <li>
                        <a href="" data-ui-sref="pages.profile.profile-about"><i class="zmdi zmdi-face"></i> {{'USER_PROFILE_TAB' | translate }} </a>
                    </li>
                    <li>
                        <a data-ui-sref="pages.account-settings" href=""><i class="zmdi zmdi-accounts"></i> {{'ACCOUNT_SETTINGS_TAB' | translate }}</a>
                    </li>
                    <!-- <li class="hidden-xs">
                        <a data-ng-click="hctrl.fullScreen()" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                    </li>
                    <li>
                        <a data-ng-click="hctrl.clearLocalStorage()" href=""><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
                    </li>
                    <li>
                        <a href=""><i class="zmdi zmdi-settings"></i> Other Settings</a>
                    </li> -->
                    <li>
                        <a data-ng-click="hctrl.signOut()" href=""><i class="zmdi zmdi-sign-in"></i> Sign Out</a>
                    </li>
                </ul>
                
            </li>
        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <div class="tsw-inner">
        <i id="top-search-close" class="zmdi zmdi-arrow-left" data-ng-click="hctrl.closeSearch()"></i>
        <input type="text">
    </div>
</div>
