<div class="container">
  <div class="card">
      <div class="card-header">
          <h2>Tabs <small><a target="_blank" class="c-gray" href="http://angular-ui.github.io/bootstrap/#/tabs">ui.bootstrap.tabs</a></small></h2>
      </div>

      <div class="card-body card-padding" data-ng-controller="accountSettingsCtrl as accountSettingsContoller">

          <tabset vertical="true">
              <tab  ng-repeat="tab in accountSettingsContoller.tabs" heading="{{tab.name}}" active="tab.active" disable="tab.disabled">
                <div class="content">
                  <div data-ng-include="tab.content"></div>
                </div>
              </tab>
          </tabset>
      </div>
  </div>
</div>
