<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'views/components/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main" data-ng-controller="homeCtrl as homeController">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content" class="page-view" data-ui-view></section>
</section>

<footer id="footer" data-ng-include="'views/components/footer.html'"></footer>
