<div class="card">
  <script type="text/ng-template" id="addItemModalContent.html">
    <div class="modal-header">
      <h4 class="modal-title">Add New Item</h4>
    </div>
    <div class="modal-body" ng-if="!newItem.$edit">
      <div class="card">
        <form name="upc">
          <div class="card-header">
            <section style="float:left">
              <h2>Enter / Scan UPC Number.</h2>
            </section>
            <input ng-model="newItem.upc" type="number" class="form-control input-lg" placeholder="UPC" required>
            <br>
              <div>
                <img style="width:230px; height:15px; float:left;"  ng-src="http://www.upcitemdb.com/barcode/ean13/0{{newItem.upc}}.png | trusted"></img>
              </div>
              <br>
            <button class="btn btn-primary btn-sm m-t-10 waves-effect" ng-click="queryItem(newItem)" ng-disabled="upc.$invalid">Enter</button>
          </div>
        </form>
      </div>                
    </div>

    <div class="modal-body" ng-if="newItem.$edit">
      <div class="card">
        <div class="card-header">
          <section style="float:left">
            <div>
              <small>Add new item to your inventory.</small>
            </div>
            <div>
              <span class="queryItemImage">
                <img style="width:128px; float:left;"  ng-src="{{newItem.img | trusted}}"></img>
              </span>
            </div>
          </section>
          <section style="float:right">
            
            <div class="row">
              <div class="col-sm-8">
                <p class="f-500 c-black m-b-20">Image Preview</p>
                
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                  <div>
                    <span class="btn btn-info btn-file">
                      <span class="fileinput-new">Select image</span>
                      <span class="fileinput-exists">Change</span>
                      <input custom-on-change="uploadFile" type="file" class="fileInput" file-model="fileInput" name="file">
                    </span>
                    <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                  </div>
                </div>
              </div>
            </div>    
          </section>
        </div>
        
        <br>
        <div class="card-body card-padding">
          
          <div class="row">
            <div class="col-sm-8">
              <div class="input-group">
                <div class="checkbox">
                  <label>
                      <input type="checkbox" value="" ng-model="newItem.multipleItems">
                      <i class="input-helper"></i>
                      Multiple Items?
                  </label>
               </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-money"></i></span>
                <div class="fg-line">
                  <input ng-model="newItem.upc" type="number" class="form-control" placeholder="UPC">
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                  <input ng-model="newItem.title" type="text" class="form-control" placeholder="Title">
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                  <input ng-model="newItem.category" type="text" ng-list=" " ng-trim="false" class="form-control" placeholder="Category">
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-money"></i></span>
                <div class="fg-line">
                  <input ng-model="newItem.purchasePrice" type="number" class="form-control" placeholder="Purchase Price">
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-money"></i></span>
                <div class="fg-line">
                  <input ng-model="newItem.sellingPrice" type="number" class="form-control" placeholder="Selling Price">
                </div>
              </div>
            </div>
          </div>          
          <br/><br/>
          
          <small>Item description.</small>
          <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-text"></i></span>
            <div class="fg-line">
              <textarea ng-model="newItem.description" type="text" class="form-control" placeholder="Description"></textarea>
            </div>
             <span>
            </span> 
          </div>
        </div>
      </div>               
    </div>

    <div class="modal-footer">
      <button class="btn btn-info waves-effect" ng-if="newItem.$edit" ng-click="addItem()">Save</button>
      <button class="btn btn-info waves-effect" ng-if="!newItem.$edit" ng-click="newItem.$edit = true">Generate UPC</button>
      <button class="btn btn-info waves-effect" ng-if="newItem.$edit" ng-click="newItem.$edit = false">Back</button>
      <button class="btn btn-info waves-effect" ng-click="cancel()">Cancel</button>
    </div>
  </script>
  
</div>