<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'views/components/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main" data-ng-controller="inventoryCtrl as inventoryController">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    
    <section id="content">
        <div class="container">
            <div class="block-header">
                <h2>{{'INVENTORY_VIEW' | translate }}</h2>
            </div>
            
            <!-- Add button -->
            <button data-ng-controller="addItemCtrl" ng-click="open('lg')" class="btn btn-float btn-danger m-btn"><i class="zmdi zmdi-plus"></i></button>
            
            <div class="lv-header-alt clearfix">                
                <div class="lvh-search">
                    <input type="text" ng-model="searchText" placeholder="What are you looking for?" class="lvhs-input">
                    
                    <i class="lvh-search-close" data-ng-click="searchText = ''">&times;</i>
                </div>    
            </div>
            
            <br>
            <br>
            <div class="card">
                <div class="listview lv-bordered lv-lg">
                    <div class="lv-body" ng-repeat="item in allInventory.list | filter:searchText track by item.id" ng-class="{ 'active': item.$edit }">
                        <div class="lv-item media">
                            <div class="checkbox pull-left">
                                <label>
                                    <input type="checkbox" value="">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="pull-left">
                                <div>
                                    <div class="lightbox-item p-item">
                                        <img width="60px" src="{{item.img}}" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="lv-title" ng-if="!item.$edit">{{item.upc}} : {{item.title}}</div>
                                <div ng-if="item.$edit">
                                    <div class="form-group">
                                        <div class="fg-line">
                                            <input type="text" class="form-control input-lg" ng-model="item.title">
                                        </div>
                                    </div>
                                </div>
                                <small class="lv-small" ng-if="!item.$edit">{{item.description}}</small>
                                <small ng-if="item.$edit">
                                    <div class="form-group">
                                        <div class="fg-line">
                                            <input type="text" class="form-control input-sm" ng-model="item.description">
                                        </div>
                                    </div>
                                </small>
                                
                                <small class="lv-small">
                                    <ul class="">
                                        <li>Purchase Price: {{item.purchasePrice}} {{item.currency}}</li>
                                        <li>Selling Price: {{item.sellingPrice}} {{item.currency}}</li>
                                        <li>Quantity In Stock: {{item.quantity}} {{item.unitOfMeasurement}}</li>
                                    </ul>
                                </small>

                                <ul class="lv-attrs">
                                    <li style="cursor: pointer; cursor: hand;" class="c-white bgm-blue" ng-repeat="category in item.category" ng-click="filterByLabel(category)">{{category}}</li>
                                </ul>
                                
                                <div class="lv-actions actions dropdown" uib-dropdown>
                                    <ul>
                                        <button type="button" class="btn btn-success" ng-if="item.$edit" ng-click="item.$edit = false">
                                            <i class="zmdi zmdi-check"></i>
                                        </button>
                                    </ul>
                                    <a ng-if="!item.$edit" href="" uib-dropdown-toggle aria-expanded="true">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>
                                    
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="" ng-click="item.$edit = true">Edit</a>
                                        </li>
                                        <li>
                                            <a ng-click="inventoryController.deleteItem(item.id)" href="">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="lv-pagination" data-ng-controller="inventoryCtrl">
                    <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></uib-pagination>
                </div>
            </div>
            
        </div>
        
        <!-- Add New Item Modal -->
        <div data-ng-include="'views/pages/inventory/add-item.html'"></div>
        
    </section>
</section>

<footer id="footer" data-ng-include="'views/components/footer.html'"></footer>
